@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:wght@200;400;500;600;700&display=swap');

@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

* {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

html, body {
  overflow-x: hidden;
}